@charset "ISO-8859-1";
.navbar a
{
	color:#fff;
	
}
.navbar li a:hover
{
background-color: #7140C7;	
border-radius: 30px;

	
}

#logo
{
	width:45px;
	height:40px;
	margin-left:75px;
}
#search
{
box-sizing: border-box;

position: absolute;
width: 320px;
height: 35px;
left: 950px;
top: 12px;
border: 2px solid rgba(255, 255, 255, 0.5);
border-radius: 20px;
}
#navbarSupportedContent
{
	  margin-left :320px;	 
	  color: white;
	  font-family: lato; 
	  font-size: 18px;
	  line-height: 30px;
}
#home
{
	margin-right:50px;
}
#jobsboard
{
	margin-right:50px;
}
#searchlogo
{
position: absolute;
width: 20px;
height: 20px;
left: 1275px;
top: 19px;	
}


.Clanguage{
	margin-top:20px;
	padding-left:50px;
	margin-left:80px;
	width:110px;
	background-color:#CCB4C2;
	border-radius: 10px;
	color:#fff;
	
	
}
.Clanguage:hover
{
background-color: #7140C7;
color:#fff;	
}
.Cplus{
	margin-top:-22px;
	padding-left:30px;
	margin-left:247px;
	width:110px;
	background-color:#CCB4C2;
	border-radius: 10px;
	color:#fff;
		
}
.Cplus:hover
{
	background-color: #7140C7;

}

.java{
	margin-top:-22px;
	padding-left:30px;
	margin-left:414px;
	width:110px;
	background-color:#CCB4C2;
	border-radius: 10px;
	color:white;
}
.java:hover
{
	background-color: #7140C7;
	color:#fff;
}

.python{
	margin-top:-23px;
	padding-left:30px;
	margin-left:581px;
	width:110px;
	background-color:#CCB4C2;
	border-radius: 10px;
	color:white;
}
.python:hover
{
	background-color: #7140C7;
}

.html{
	margin-top:-22px;
	padding-left:30px;
	margin-left:748px;
	width:110px;
	background-color:#CCB4C2;
	border-radius: 10px;
	color:white;
}
.html:hover{
	background-color: #7140C7;
}

.javascript{
	margin-top:-24px;
	padding-left:20px;
	margin-left:915px;
	width:110px;
	background-color:#CCB4C2;
	border-radius: 10px;
	color:white;
}
.javascript:hover
{
	background-color: #7140C7;
}
.sql{
	margin-top:-22px;
	padding-left:20px;
	margin-left:1082px;
	width:110px;
	background-color:#CCB4C2;
	border-radius: 10px;
	color:white;
}
.sql:hover
{
	background-color: #7140C7;
	color :white;
}

.linux{
	margin-top:-23px;
	padding-left:20px;
	margin-left:1249px;
	width:110px;
	background-color:#CCB4C2;
	border-radius: 10px;
	color:white;
}
.linux:hover
{
	background-color: #7140C7;
}

.topic
{
	width:100%;
	height:30px;
	margin-top:37px;
	background:#CCB4C2;
	top:200px;
	padding-left:40px;
}
.topic a
{
	color: #635163;
	font-family: 'Lato';
    font-style: normal;
    margin-left:55px;
}

 .content {
  background-color: #D9D9D9;
  height:500px;
  display:outline;
  width:  400px;
  overflow: auto;
  margin-top:30px;
  margin-left:20px;
}

#dropdown1
{	
     width:  350px;
 	 background-color: #7140C7;
 	 color:#fff;
	margin-left:20px;
}
#dropdown1:hover
{
	width:  350px;
 	 background-color: #2626ec;
 	 color:#fff;
}
#dropdown11
{
	 background-color: #D9D9D9;
	 width:350px;
	 color:white;
	 font-family: 'Lato';
     font-style: normal;
	 padding-left:100px;
	
	
}




.workspace
{
	position: absolute;
    width: 1050px;
    height: 500px;
    left: 450px;
    top: 200px;
    overflow: auto;
    background: #fff;
	padding-left:15px;
}
.workspace h4
{
margin-top:10px;
color:grey;	
}

#Program1
{
	
	 background: cream;
	 height:250px;
	 width:800px;
	
	
}
#tail
{
height:800px;
width:100%;
 background: purple;
	
}